article,aside,figcaption,figure,footer,header,main,nav,section {
  display: block;
  font-family: "Arial", "Helvetica", "Helvetica Neue", sans-serif;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/**
 * Remove default margin.
 */
body {
  margin: 0 auto;
  max-width:100%;
}

a:focus {
	outline: thin dotted;
}

a:active,a:hover {
	outline: 0;
}

ul,ol {
  list-style: none;
}

a {
  color: #1162a4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color:magenta;
}

.llzqhead {
	position:fixed;
}

body h1 {
	text-align:center;
	font-size:2.5em;
	
}

body article p {
	font-family: 'Microsoft YaHei', 'STHeiti', Helvetica, '\5fae\8f6f\96c5\9ed1', Arial, sans-serif;
	font-size:1.65em;
	text-align:left;
	text-indent:2em;
}

header {
	display:inline-block;
	background:#bac2e9;
	width:100%;
}

section {
	/*margin:5em auto 0;*/
	padding-top:4em;
	
}